<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Todo List </h1>
    <!--show list-->
    <% if (todos.length) { %>
    <ul> 
      <% todos.forEach(function(q) { %>
        <li><%= q.todo %> -<%- q.done? 'Done' : 'Not Done' %></li>
        <%});%>
    </ul>
    <% } else { %>
    <h3>Sadly, no todos yet :(</h3>
    <% } %>
   
   <!--form-->
   <form action ="/" method ="POST">
    <input type="text" name="todo" required/>
    <button type = "submit"> Add To Do</button>
  </form>
  </body>
</html>
